exportPattern("^[[:alpha:]]+")
import(raster)
import(dismo)
importFrom("tm", TermDocumentMatrix, Corpus, VectorSource, tm_map)
importFrom("RColorBrewer", brewer.pal)
import(sp)
importFrom("wordcloud", wordcloud)
